[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
requests = "*"
colorama = "*"
configparser = "*"
beautifulsoup4 = "*"
tqdm = "*"
html2text = "2020.1.16"

[requires]
python_version = "3.9"
